<h1>Welcome to the Ruby on Rails InstantApp</h1>
<p>The default rails application is located in /home/rails/default</p>
<p>Ruby version is: <%= RUBY_VERSION %></p>
<p>Rails InstantApp documentation is online at https://www.scaleway.com/docs/getting-started-with-the-ruby-on-rails-instant-apps</p>

